<!-- Navbar -->
<%= render "shared/navbar" %>

<h1>New Listing</h1>


<!--
  This form is for creating a listing. It shows displays each error if there are any.
-->
<%= form_with(model: @listing) do |form| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
        <% listing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  

  <!-- 
    The form itself, with styling utilising bootstrap.
  -->
  <div class="card">
    <div class="card-body">

      <div class="mb-3">
        <%= form.label :title, class: "form-label" %>
        <%= form.text_field :title, { class: "form-control", required: true } %>
      </div>

      <div class="mb-3">
        <%= form.label :price, class: "form-label" %>
        <%= form.text_field :price, { class: "form-control", required: true } %>
      </div>

      <div class="mb-3">
        <%= form.label :description, class: "form-label" %>
        <%= form.text_field :description, { class: "form-control", required: true } %>
      </div>

      <div class="mb-3">
        <%= form.label :picture, class: "form-label" %>
        <%= form.file_field :picture, { class: "form-control-file", accept: "image/jpg, image/png, image/jpeg", required: true } %>
      </div>

      <div class="actions">
        <%= form.submit "Create" %>
      </div>
<% end %>
</div>
<br>
<%= link_to 'Back', listings_path %>
</div>


<!-- Footer -->
<%= render "shared/footer" %> 